body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

section {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

section img.director-img,
section img.ExecutiveDirector-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.profile-info {
    padding: 20px;
}

.profile-info h2 {
    font-size: 24px;
    color: #4CAF50;
    margin-bottom: 10px;
}

.profile-info h4 {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

#director-1, #director-2 {
    margin-bottom: 40px;
}

@media (min-width: 600px) {
    section {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    section img.director-img, section img.ExecutiveDirector-img {
        width: 40%;
        margin-right: 20px;
    }

    .profile-info {
        width: 60%;
    }
}